<section class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
                <div class="hero-content mt-5 mt-lg-0" data-aos="fade-up" data-aos-duration="1000">
                    <h1>Seamless Solutions for Mobile and Web</h1>
                    <p class="mb-4">I am here ready to help you in making creative digital products</p>
                    <a href="#" class="btn-cta d-inline-block mb-4">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-duration="2000">
                <img src="assets/images/hero.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>