<section class="portfolio text-center">
    <div class="container">
        <h2 class="section-header">Portfolio</h2>
        <div class="parent mt-5">
            <div class="portfolio-bg rounded-4 p-3" data-aos="fade-right">
                <div class="row">
                    <div class="col-md-7">
                        <div class="tag py-2 rounded-2 my-3">Mobile Application</div>
                        <h3>EduCaring</h3>
                        <p class="lh-lg">
                            Morbi sit egestas dignissim pharetra, sed amet. Tempus justo senectus risus ac vel, velit,
                            nunc. Eget commodo eget in aliquam facilisi facilisi nec magna hendrerit. Placerat ipsum sit
                            tellus urna, faucibus aenean lorem faucibus integer.
                        </p>
                    </div>
                    <div class="col-md-5 rounded-3 mt-4">
                        <img src="assets/images/portfolio1.png" class="img-fluid rounded-3" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-3">Features</h4>
                        <ul>
                            <li>feature 1</li>
                            <li>feature 2</li>
                            <li>feature 3</li>
                            <li>feature 4</li>
                            <li>feature 5</li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex justify-content-between mt-3 other-images">
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100 h-75" alt="">
                        </div>
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-bg rounded-4 p-3" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tag py-2 rounded-2 my-3">Web Application</div>
                        <h3>EduCaring</h3>
                    </div>
                    <div class="col-md-4 rounded-3 mt-4">
                        <img src="assets/images/portfolio1.png" class="img-fluid rounded-3" alt="">
                    </div>
                </div>
                <p class="lh-lg mt-3">
                    Morbi sit egestas dignissim pharetra, sed amet. Tempus justo senectus risus ac vel, velit,
                    nunc. Eget commodo eget in aliquam facilisi facilisi nec magna hendrerit. Placerat ipsum sit
                    tellus urna, faucibus aenean lorem faucibus integer.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-3">Features</h4>
                        <ul>
                            <li>feature 1</li>
                            <li>feature 2</li>
                            <li>feature 3</li>
                            <li>feature 4</li>
                            <li>feature 5</li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex justify-content-between mt-3 other-images">
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100 h-75" alt="">
                        </div>
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-bg rounded-4 p-3" data-aos="fade-down">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tag py-2 rounded-2 my-3">UI/UX</div>
                        <h3>EduCaring</h3>
                    </div>
                    <div class="col-md-4 rounded-3 mt-4">
                        <img src="assets/images/portfolio1.png" class="img-fluid rounded-3" alt="">
                    </div>
                </div>
                <p class="lh-lg mt-3">
                    Morbi sit egestas dignissim pharetra, sed amet. Tempus justo senectus risus ac vel, velit,
                    nunc. Eget commodo eget in aliquam facilisi facilisi nec magna hendrerit. Placerat ipsum sit
                    tellus urna, faucibus aenean lorem faucibus integer.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-3">Features</h4>
                        <ul>
                            <li>feature 1</li>
                            <li>feature 2</li>
                            <li>feature 3</li>
                            <li>feature 4</li>
                            <li>feature 5</li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex justify-content-between mt-3 other-images">
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100 h-75" alt="">
                        </div>
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-bg rounded-4 p-3" data-aos="fade-left">

                <div class="row">
                    <div class="col-md-7">
                        <div class="tag py-2 rounded-2 my-3">Graphic Design</div>
                        <h3>EduCaring</h3>
                        <p class="lh-lg">
                            Morbi sit egestas dignissim pharetra, sed amet. Tempus justo senectus risus ac vel, velit,
                            nunc. Eget commodo eget in aliquam facilisi facilisi nec magna hendrerit. Placerat ipsum sit
                            tellus urna, faucibus aenean lorem faucibus integer.
                        </p>
                    </div>
                    <div class="col-md-5 rounded-3 mt-4">
                        <img src="assets/images/portfolio1.png" class="img-fluid rounded-3" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-3">Features</h4>
                        <ul>
                            <li>feature 1</li>
                            <li>feature 2</li>
                            <li>feature 3</li>
                            <li>feature 4</li>
                            <li>feature 5</li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex justify-content-between mt-3 other-images">
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100 h-75" alt="">
                        </div>
                        <div class="p-1">
                            <img src="assets/images/services1.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>