<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
                <div class="d-flex justify-content-between flex-row">
                    <div class="child">
                        <img src="assets/images/about/4.png" alt="">
                    </div>
                    <div class="child d-flex align-items-end">
                        <div class="h-75">
                            <img src="assets/images/about/3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-1">
                    <div class="child">
                        <img src="assets/images/about/2.svg" alt="">
                    </div>
                    <div class="child d-flex justify-content-center align-items-center">
                        <div class="w-100 h-100">
                            <img src="assets/images/about/1.svg" class="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-5" data-aos="fade-up" data-aos-duration="2000">
                    <h2 class="section-header">About Us</h2>
                    <p class="mt-5">Concept Softworks is a software company, we develop custom built software for clients - covering everything from financial institutions & medical companies all the  way to tech companies and government organizations.

                    </p>
            </div>
        </div>
    </div>
</section>