<footer>
    <div class="container">
        <div class="row separator">
            <div class="col-3 d-flex align-items-center">
                <img class="logo" [src]="'https://admin.fivesolutions.net/images/logos/'+contactsData[0]?.logo" alt="">
            </div>
            <div class="col-9 d-flex align-items-center">
                <div class="text-md-end text-end ms-auto">
                    <i class="fa-brands fa-instagram me-3"></i>
                    <i class="fa-brands fa-facebook me-3"></i>
                    <i class="fa-brands fa-twitter me-3"></i>
                    <i class="fa-brands fa-linkedin me-3"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>Company</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-decoration-none">Portfolio</a></li>
                    <li><a href="#" class="text-decoration-none">our team</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Services</h3>
                <ul class="list-unstyled ser-list">
                    <li>
                        mobile development
                    </li>
                    <li>
                        web development
                    </li>
                    <li>
                        UI/UX design
                    </li>
                    <li>
                        Logo branding
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="contact-info">
                  {{contactsData[0]?.address}}
                </div>
                <div class="contact-info">
                    {{contactsData[0]?.mobile}}
                    <br>{{contactsData[0]?.email}}
                </div>
            </div>
            <div class="col-md-4">
                <h3>Our Latest Project</h3>
                <img class="img-fluid" src="assets/images/latestProjects.svg" alt="">

            </div>
        </div>

    </div>
</footer>
