.contact {
    width: 100%;
    background-color: var(--grayColor);
    border-radius: 20px;
    min-height: 210px;

}

.contact .image-container{
    margin-top:-140px ;
}


.contact  form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}

.contact  form input {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.contact  form button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #4154f1;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}
.contact p{
    font-size: 18px;
}
.contact h3{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 200;
    line-height: 50px;
}

.contact h3 span{
    font-weight: 600;
}

@media (max-width:650px) {
    .contact p{
        font-size: 16px;
    }
    .contact h3{
        font-size: 23px;
    }
    .contact .btn-cta{
        padding: 5px 10px !important;
    }

    .contact  form input {
        border: 0;
        padding: 7px;
        width: calc(100% - 90px);
    }
    
}