<section class="why text-center">
    <div class="container">
        <h2 class="section-header">why us</h2>
        <div class="row">
            <div class="col-md-4" data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="icon-container">
                    <img src="assets/images/why/Icon 1.png" alt="">
                </div>
                <h3>Design. Code. Innovate</h3>
                <p>
                    Innovative design, powerful programming – revolutionizing digital landscapes with unique and impactful applications
                </p>
                
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="icon-container">
                    <img src="assets/images/why/Icon 2.png" alt="">
                </div>
                <h3>Create. Transform. Thrive</h3>
                <p>
                    Our system utilizes recipient signatures for electronic and digital delivery confirmation
                </p>
            </div>
            <div class="col-md-4" data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="icon-container">
                    <img src="assets/images/why/Icon 3.png" alt="">
                </div>
                <h3>Design. Develop. Elevate</h3>
                <p>
                    We're a design hub, crafting exceptional applications through meticulous design and expert coding
                </p>
            </div>
        </div>
    </div>
</section>
