/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor:#FDC80A;
    --secondaryColor:#231F20;
    --grayColor:#A5A5A5;
    --goldenColor:#f5f5f5;

}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

section{
    padding: 60px 0;
    margin: 20px 0;
}
.section-header{
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: var(--secondaryColor);
    letter-spacing: 4px;
    
}
.section-header::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 38%;
    height: 4px;
    background-color: var(--mainColor);
    border-radius: 20px;
}
.btn-cta{
    background-color:var(--secondaryColor) !important ;
    color: #fff !important;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}
/* slick slider team*/
.team .slick-dots{
    bottom: -61px;
}
.team .slick-dots li button {
    background-color:var(--grayColor);
    width: 40px;
    height: 8px;
    border-radius: 10px;

}
.team .slick-dots li{
    display: inline-block;
    margin: 0 15px;
}
.team .slick-dots li button:before{
    content: "";
}
.team  .slick-dots .slick-active button{
    background-color: var(--secondaryColor) ;
}
