<section class="services position-relative overflow-hidden">
  <div class="container">
    <h2 class="section-header">Services</h2>
  </div>
  <div class="container position-relative">

    <div class="ellipse"></div>
    <div class="row mt-2">


      <ul class="col-md-5 nav flex-column nav-tabs py-3 mt-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li *ngFor="let tab of services;let i=index" >
          <a [class.active]="tab.active" (click)="selectTab(tab)">
            <span class="me-3">{{i + 1}}</span>
            <span>{{tab.title}}</span>
          </a>
        </li>
      </ul>
      <div class="tab-content col-md-7">
        <ng-container *ngFor="let tab of services">
          <div class="tab-pane" [class.show]="tab.active">
            <img [src]="tab.image" alt="">
          </div>
        </ng-container>

      </div>




    </div>
  </div>
</section>
